.search-bar> input {
  border: 1px solid gray;
  padding: 1%;
  border-radius: 2%/30%;
  width: 80%;
}

.search {
  position: fixed;
  width: 92%;
  top: -2%;
  padding: 6% 0 4% 4%;
  background-color: white;
  color: black;
  border-radius: 3%/15%;
  border: 2px solid gray;
  height: auto;
}

.search-bar {
  display: flex;
}

.search-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20% 0 0 0;
}

.movie > button {
  width: 100%;
  padding: 2%;
  margin: 4% 0 4% 0;
  border-radius: 2%/16%;
  background-color: gray;
  border: none;
  cursor: pointer;
}

.gold-movie, .movie {
  border: 1px solid gray;
  width: 85%;
  border-radius: 3%/5%;
  margin: 4% 0 1.5% 0;
  padding: 1% 2.5% 2.5%2.5%;
  text-overflow: clip;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.gold-movie {
  background-image: linear-gradient(#bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
}

.poster {
  width: 30%;
  height: 30%;
  margin: 3% 5% 0 0;
  border-radius: 8%/5%;
  border: 2px solid black
}

.nominated-titles {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-info {
  width: 55%;
  margin: 0 0 0 3%;
}

.generic-poster {
  background-color: gray;
  width: 30%;
  margin: 4% 5% 0 0;
  border-radius: 8%/5%;
  border: 2px solid black;
  padding: 16% 0 16% 0;
  text-align: center;
  color: lightgrey;
  font-size: 26pt;
} 

.sign-up, .login {
  padding: 2% 0 0 2%;
}

#pass, #user, #confirm-pass {
  margin: 1% 0 1% 0;
}

.login-link > span, .sign-up-link > span {
  color:cadetblue;
  text-decoration: underline;
  cursor: pointer;
}

button[type='submit'] {
  cursor: pointer;
}

.user-info {
  background-color: black;
  width: 15%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px/25px;
  margin: 0 3% 0 3%;
}

.user-info:hover {
  cursor: pointer;
}
